body {
	font-family: "Lato Light", sans-serif;
	color: #333333;
	/*font-size: 106%;*/
}
h1, h2 {
	font-family: "Lato Bold", sans-serif;
	color: #232323;
	font-size: 125%;
	text-align: center;
}
h3 {
	font-family: "Lato Medium", sans-serif;
	color: #1a1a1a;
	font-size: 107%;
	text-align: center;
}


#header {
	padding: 0;
	position: relative;
	margin-bottom: 1rem;
}
#header:before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	right: 100%;

}
.orbit-bullets {
	position: absolute;
	top: 10%;
	left: 0;
	right: 0;
	margin: 0px auto;
	z-index: 100;
}
.orbit-bullets button {
	width: 5rem;
	height: 5rem;
	-webkit-transition: 0.5s;
    transition: 0.5s;
}
.main {
	position:absolute;
	left:0;
	right:0;
	width: 80%;
	max-width: 700px;
	margin: 0px auto;
	transition: 0.5s;
	opacity: 0;
}

.orbit li {
	height: 500px;
	background-size: cover;
}

.transitionScaleUpPartial {
	-webkit-transform: scale(1.05);
    transform: scale(1.05);
}
.transitionScaleUp {
	-webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.transitionZoomOut {
	opacity: 0;
	-webkit-transform: scale(1);
    transform: scale(1);
}
.transitionFadeOut {
	opacity: 0;
}
.transitionFadeIn {
	opacity: 1;
}

.full-bleed {
	max-width: inherit;
}
.none {
	display: none;
}

@font-face {
	font-family: "Lato Bold";
	src: url("fonts/Lato-Bold.ttf");
}
@font-face {
	font-family: "Lato Medium";
	src: url("fonts/Lato-Medium.ttf");
}
@font-face {
	font-family: "Lato Light";
	src: url("fonts/Lato-Light.ttf");
}